
#user-tools {
    float: right;
    padding: 0;
    margin: 10 15 0 1050px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}